.header-row {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;    
};
#searchHeader {
    font-size: 25px;
    margin-bottom: 20px;
};
#fiveDay {
    display: inline; 
};
.currentWeather {
    margin-top: 10px;
    margin-right: 15px;
    Width: 100%;
    height: 50%;
};
.dayOne {
    margin-left: 20px;  
  };
.dayTwo {
   margin-left: 20px;  
 };
.dayThree {
    margin-left: 20px;  
 };
.dayFour {
    margin-left: 20px;  
 };
.dayFive {
  margin-left: 20px;  
};